body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.leaflet-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  border: none;
}
